################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ITM.DB.CEBC/ITM.DB.CEBC.Api/obj
/ITM.DB.CEBC/ITM.DB.CEBC.Api/ITM.DB.CEBC.Api.csproj.user
/ITM.DB.CEBC/.vs/ITM.DB.CEBC/v16
/ITM.DB.CEBC/ITM.DB.CEBC.Api/bin/Debug/netcoreapp3.1
