################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ITM.DB.CEBC/ITM.DB.CEBC.Api/obj
